<section id="about" class="section dark">
    <div class="container">

        <ul class="nav nav-tabs alt">
            <li class="active"><a href="#first-tab-alt" data-toggle="tab">FOR STUDENTS</a></li>
            <li><a href="#second-tab-alt" data-toggle="tab">SECOND TAB</a></li>
            <li><a href="#third-tab-alt" data-toggle="tab">THIRD TAB</a></li>
        </ul>
                
        <div class="tab-content alt">
            <%= render 'static/tabs/first' %>
            <%= render 'static/tabs/second' %>
            <%= render 'static/tabs/third' %>
        </div>
    </div>
</section>