<div class="tab-pane active" id="first-tab-alt">
    <div class="section-content row">
        <div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
            <%=image_tag "img/features/people.jpg", class: "img-responsive" %>
        </div>
        <div class="col-sm-6 animated hiding" data-animation="fadeInRight">
            <br/>
            <article class="center">
                <h3>FOR LEADING
                    <span class="highlight">SOUTH AUSTRALIAN SCHOOLS</span>
                </h3>
                <div class="sub-title">Lorem ipsum dolor sit atmet sit dolor greand fdanrh
                    <br/>sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                <p>In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.</p>
                <br/>
                <!-- <a href="#" class="btn btn-secondary animated hiding" data-animation="bounceIn" data-delay="700">Get template</a>
                <a href="#" class="btn btn-secondary animated hiding" data-animation="bounceIn" data-delay="700">See elements</a> -->
            </article>
        </div>
    </div>
</div>