<div class="tab-pane" id="second-tab-alt">
    <div class="section-content row">
        <div class="col-sm-6 pull-right animated hiding" data-animation="fadeInRight">
            <%= image_tag "img/features/phone.jpg", class: "img-responsive pull-right" %>
        </div>
        <div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
            <br/>
            <br/>
            <article class="center">
                <h3>NEW AGE
                    <span class="highlight">TECHNOLOGY</span>
                </h3>
                <div class="sub-title">Lorem ipsum dolor sit atmet sit dolor greand fdanrh
                    <br/>sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                <p>In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.</p>
            </article>
        </div>
    </div>
</div>
