<div class="tab-pane" id="third-tab-alt">
    <div class="section-header animated hiding center" data-animation="fadeInDown">
        <h2>3 EASY STEPS</h2>
        <div class="sub-heading">
            Lorem ipsum dolor sit atmet sit dolor greand fdanrh s
            <br />dfs sit atmet sit dolor greand fdanrh sdfs
        </div>
    </div>
    <div class="section-content row">
        <div class="col-sm-4">
            <article class="text-center animated hiding" data-animation="fadeInLeft" data-delay="0">
                <i class="howitworks icon icon-shopping-04 icon-active"></i>
                <span class="h7">PLACE ORDER</span>
                <p class="thin">Sit amet, consectetur adipiscing elit.
                    <br />In hac divisione rem ipsam prorsus probo
                    <br />elegantiam desidero.</p>
            </article>
            <!--<span class="icon icon-arrows-04"></span>-->
        </div>
        <div class="col-sm-4">
            <article class="text-center animated hiding" data-animation="fadeInLeft" data-delay="400">
                <i class="howitworks icon icon-seo-icons-03 icon-active"></i>
                <span class="h7">OUR SYSTEM RUNS</span>
                <p class="thin">Sit amet, consectetur adipiscing elit.
                    <br />In hac divisione rem ipsam prorsus probo
                    <br />elegantiam desidero.</p>
            </article>
            <!--<span class="icon icon-arrows-04"></span>-->
        </div>
        <div class="col-sm-4">
            <article class="text-center animated hiding" data-animation="fadeInLeft" data-delay="800">
                <i class="howitworks icon icon-seo-icons-05 icon-active"></i>
                <span class="h7">RECEIVE REPORT</span>
                <p class="thin">Sit amet, consectetur adipiscing elit.
                    <br />In hac divisione rem ipsam prorsus probo
                    <br />elegantiam desidero.</p>
            </article>
        </div>
    </div>
    <br/>
    <br/>
</div>

