.list-inline.logos img {
    max-width: 155px;
}
.form-control:focus {
    border-color: #E8262E;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 175, 102, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 175, 102, .6)
}

@media(max-width: 768px){
  .maps-sidebar {
    padding-right: 45px;
    padding-bottom: 25px
  }
}