<div id="hero" class="static-header video-version light clearfix">
    <div class="text-heading">
        <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Help give your students the<br/>
            <span class="highlight">entrepreneurial edge.</span></h1>
        <p class="animated hiding" data-animation="fadeInDown" data-delay="500">The 1625 project helps students dive into the world of entrepreneurship through their SACE project.</p>
    </div>
    <div class="video-wrapper">
        <div class="container">
            <div class="video-container animated hiding" data-animation="bounceInUp" data-delay="1000">
                <div class="embed-container">
                    <iframe src='http://player.vimeo.com/video/95825831?title=0&amp;byline=0&amp;portrait=0;api=1' allowFullScreen></iframe>
                </div>
            </div>
            <%=image_tag "img/features/video-container-alt.png", class: "img-responsive animated hiding", data: {animation: "bounceInUp", delay: "1000"} %>
        </div>
    </div>
</div>
