<!-- Preloader -->
<%= render 'layouts/preloader' %>    
<%= render 'layouts/header' %>
  
<div id="hero" class="static-header register-version light clearfix">
  <div class="text-heading">
      <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Life's too short to be stuck in traffic.</h1>
      <p class="animated hiding" data-animation="fadeInDown" data-delay="500">Get free notifications of road works and other traffic disruptions, delivered to your phone.</p>
  </div>
  
  <div class="container">
    <div class="signup-wrapper animated hiding" data-animation="bounceInUp" data-delay="0">
      <div class="row">
        <%= render 'users/registrations/form' %>
      </div>

      Or <%= link_to image_tag("facebook-sign-in.png"),  user_omniauth_authorize_path(:facebook), class: 'facebook_login' %><br/><br/>
    </div>
  </div>
</div>

<div id="gmap-issues" class="gmap"></div>
