<%= link_to image_tag("facebook-sign-in.png"),  user_omniauth_authorize_path(:facebook), class: 'facebook_login' %><br/><br/>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<div id="gmap-issues" class="gmap"></div>


