<div class="row">
  <div class="col-sm-3 maps-sidebar">
  <h3>Enter your route</h3>
  <p>Add in your daily travel routes, and we'll message you when we learn about traffic obstructions along your way.</p>

  <hr/>

  <input id="route-from" placeholder="From (location)" class="form-control route-params">
  <input id="route-to" placeholder="To (location)" class="form-control route-params">

  <hr/>

  <div class="input-append bootstrap-timepicker">
    <input id="route-starttime" placeholder="Between (time)" class="form-control route-params input-timepicker">
    <!-- <span class="add-on"><i class="fa fa-time"></i></span> -->
  </div>
  <div class="input-append bootstrap-timepicker">
    <input id="route-endtime" placeholder="...And (time)" class="form-control route-params input-timepicker">
    <!-- <span class="add-on"><i class="fa fa-time"></i></span> -->
  </div>
  <hr/>
  <button class="btn btn-primary btn-sm" id="route-add">Add!</button>
  <button class="btn btn-default pull-right btn-sm" id="route-rm">Clear</button>

  <a href="#" class="pull-right" id="unsub">Unsubscribe</a>  

  </div>
  <div class="col-sm-9">
    <div id="gmap-issues" class="gmap"></div>
  </div>
</div>